* {
	margin: 0;
	padding: 0;
}
header .glavni-meni li {
	display: inline-block;
	margin-left: 15px;
	padding-top: 12px;
}


.glavni-meni li a {
	list-style: none;
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}

.glavni-meni li a:hover {
	
	border-bottom: 1px solid rgb(255, 204, 0); 
	 
}
a.active {
	border-bottom: 1px solid rgb(255, 204, 0);
}
header {
	background-color: #6c6d70;
	border-bottom: 1px solid #000;
}
header h2 {
	padding-top: 3px;
	color: #fff;
}

.glavni-meni {
	float: right;
}

.about .col-md-12 {
	background-color: rgb(108, 109, 112,0.7);
	margin-top: 20px;
	height: 400px;
	text-align: center;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14); 
	box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14);

}
.about .col-md-12 img {
	height: 400px;
	float: right;
	margin-right: -31px;
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 13%);
}

.about h2 {
	text-transform: uppercase;
	color: #fff;
	border-bottom: 2px dotted #fff;
	margin-bottom:40px;
	
}
.about h5,p {
	
	color: #fff;
	margin-top: 20px;
	
}
.about h5 {
	color: rgb(255, 204, 0);
}

.about a {
	margin-left: 10px;
	color: #fff;
	font-size: 20px;

}
.about i{
	
	color: #fff;
	font-size: 20px;
	margin-bottom: 15px;
	
}

.sm {
	margin-top: 30px;
	float: left;
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.sm i {
	margin-left: 20px;
	font-size: 30px;
	text-decoration: none;
}

.about2 .col-md-12 {
	background-color: rgb(108, 109, 112,0.7);
	margin-top: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14); 
	box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14);
}
.about2 .col-md-12 h3 {
	text-transform: uppercase;
	color:rgb(255, 204, 0);
}

.about3 .col-md-5 {
	background-color: rgb(108, 109, 112,0.7);
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	
	margin-right: 40px;
	margin-left: 50px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14); 
	box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14);
}

.about3 ol {
	color: #fff;
	list-style: none;
	text-decoration: none;
	display: inline-block;
	margin-left: 50px;
}


.about3 .drugi {
	color: rgb(255, 204, 0);
}

.about3 .druga ol {
	color: #fff;
	list-style: none;
	text-decoration: none;
	display: inline-block;
	margin-left: 30px;
}

@media (max-width: 767px) {

	.about .col-md-12 img {
		display: none;
	}
	.sm {
		display: none;
	}

}

.footer {
	background-color: #6c6d70;
	text-align: center;
	border-top: 1px solid #000;
	
	
	
}
.footer ul {
	margin-top: 30px;
	color: #fff;
	list-style: none;
	text-decoration: none;
}
.footer ul li {
	font-size: 20px;
	
	text-transform: uppercase;
}
.footer ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}
.footer h5 {
	margin-top: 40px;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}
.footer .social-media{
	font-size: 30px;
	
}
.footer .social-media a{
	color: #fff;
}
.footer img {
	height: 150px;
	width: 150px;
	
}