* {
	padding: 0;
	margin: 0;
}

header .glavni-meni li {
	display: inline-block;
	margin-left: 15px;
	padding-top: 12px;
}


.glavni-meni li a {
	list-style: none;
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}

.glavni-meni li a:hover {
	
	border-bottom: 1px solid rgb(255, 204, 0); 
	 
}
a.active {
	border-bottom: 1px solid rgb(255, 204, 0);
}
header {
	background-color: #6c6d70;
	border-bottom: 1px solid #000;
}
header h2 {
	padding-top: 3px;
	color: #fff;
}

.glavni-meni {
	float: right;
}

.video-baner .col-md-12 {
	background-image: url("slike/video.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	border-radius: 10px;
	padding-top: 200px;
	padding-bottom: 100px;
	margin-top: 50px;
	height: 400px;
	border: 2px solid rgb(255, 204, 0);
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14); 
	box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14);

}

.video-baner .col-md-12 h1{
	text-transform: uppercase;
	font-weight: bold;
}

.video-text .col-md-12 {
	margin-top: 50px;
	text-align: center;
	
	margin-bottom: 50px;
}

.video-video .video2 {
	text-align: center;

}
.vide-video .video2 a{
	border:1px solid #fff;
	padding: 10px;
	background-color: black;
}

.video-video video {
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14); 
	box-shadow: 0px 10px 13px -7px #000000, 6px 10px 7px 5px rgba(0,0,0,0.14);
}
.video-text .col-md-12 p {
	text-transform: uppercase;
}

.galerija2 .col-md-4 img{
	width: 370px;
	border:4px solid #000;

}

.galerija2 {
	margin-bottom: 100px;
	
}

@media (max-width: 1093px) {
	.galerija2 {
		display: none;
	}
	.video-program {
		display: none;
	}
	
}

@media (max-width: 1199px) {
	.video-video video {
		display: none;
	}

	p {
		margin-bottom: 2px solid #000;
	}

}


.footer {
	background-color: #6c6d70;
	text-align: center;
	border-top: 3px solid #000;
	
}
.footer ul {
	margin-top: 30px;
	color: #fff;
	list-style: none;
	text-decoration: none;
}
.footer ul li {
	font-size: 20px;
	
	text-transform: uppercase;
}
.footer ul li a{
	color: #fff;
	text-decoration: none;
}
.footer h5 {
	margin-top: 40px;
	color: #fff;
	text-transform: uppercase;
}
.footer .social-media{
	font-size: 30px;
	
}
.footer .social-media a{
	color: #fff;
}
.footer img {
	height: 150px;
	width: 150px;
	
}

.footer a:active {
	color: rgb(255, 204, 0);
}

